.quantity-selector {

  .input-group {
    width: 5.625em;

    .form-control {
      padding: 0;
      font-size: $font-size-sm;
      text-align: center;
      appearance: textfield;

      &:not(:focus) {
        border-right: none;
        border-left: none;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        margin: 0;
        appearance: none;
      }
    }

  }

  &.quantity-selector-l .input-group {
    width: $quantity-selector-l-width;

    .form-control {
      font-size: $font-size-base;
    }
  }

  button {
    border: $border-width solid $gray-500;
    &:first-of-type {
      order: -1;
      border-right: none;
    }
    &:last-of-type {
      border-left: none;
    }
  }
}
