.quantity-selector {
  &.quantity-selector-large .input-group {
    width: 7.5em;
  }
  &.quantity-selector-small .input-group {
    width: 5.625em;
  }
  input {
    padding: 0;
    text-align: center;

    &:read-only {
      background-color: #fff;
      appearance: textfield;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }
  button {
    border: .125rem solid #ccc;
    &:first-of-type {
      order: -1;
      border-right: none;
    }
    &:last-of-type {
      border-left: none;
    }
  }
  .form-control {
    &:not(:focus, :invalid) {
      border-left: none;
    }
  }
}
