.quantity-selector {
  &.quantity-selector-large .input-group {
    width: 7.5em;
  }
  &.quantity-selector-small .input-group {
    width: 5.625em;
  }
  input {
    padding: 0;
    text-align: center;
    background-color: #fff;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      appearance: none;
    }
  }
  button {
    border: .125rem solid #ccc;
    &:first-of-type {
      order: -1;
      border-right: none;
    }
    &:last-of-type {
      border-left: none;
    }
  }
  .form-control:not(:focus) {
    border-left: none;
  }
}
